body{
    background: rgb(86,18,91);
    background: linear-gradient(339deg,rgba(86,18,91,1) 0%, rgba(40,10,80,1) 100%);
    min-height: 100vh;
    text-align: center;
}
.headertext{
    font-weight: normal;
    font-size: 3em;
    margin-top: 100px;
    color: white;
    text-align: center;
}